body {
    margin: 0;
    background: #1F2937;
    color: white;
    font-family: "Karla", sans-serif;
}

h1 {
    font-weight: 800;
    margin-bottom: 0;
}

p {
    margin-top: 0;
    margin-bottom: 0;
    font-size: small;
    color: lightgrey;
    /*font-weight: 200;*/
}

#slogan {
    margin-bottom: 30px;
}

#container {
    height: 440px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin: 115px 50px 0 50px;
}

#main {
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

#highlight {
    color: #10B981;
}

#generate-btn {
    background: #10B981;
    border: none;
    border-radius: 5px;
    color: white;
    padding: 10px 15px;
    margin-top: 10px;

}

#generate-btn:hover {
    background: #2fa18c;
    -webkit-transition: .4s;
    transition: .4s;
}

#result{
    width: 430px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 25px;
    margin-bottom: 0;
    border-top: #273549 1px solid;
    padding: 30px 10px;
}

.generator {
    width: 400px;
    height: 30px;
    color: #55F991;
    background: #273549;
    border: none;
    border-radius: 5px;
    margin: 5px 10px 5px 10px;
}

.generator:hover {
    background: #1c232c;
    -webkit-transition: .4s;
    transition: .4s;
}

#copy-massage-footer {
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}

#copy-message {
    margin-top: 0;
    font-weight: 200;
}

#length-input {
    border: none;
    border-radius: 3px;
    width: 150px;
    margin-bottom: 2px;

}

#length-text {
    margin-top: 3px;
    margin-bottom: 10px;
    font-weight: 200;
}

/*Toggle*/

.switch {
    position: relative;
    display: inline-block;
    width: 30px;
    height: 17px;
    margin: 0;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .2s;
    transition: .2s;

    border-radius: 34px;
    margin: 0;
}

.slider:before {
    position: absolute;
    content: "";
    height: 13px;
    width: 13px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: .2s;
    transition: .2s;

    border-radius: 50%;
}

input:checked + .slider {
    background-color: #14af7b;
}

input:focus + .slider {
    box-shadow: 0 0 1px #14af7b;
}

input:checked + .slider:before {
    -webkit-transform: translateX(13px);
    -ms-transform: translateX(13px);
    transform: translateX(13px);
}

.num-toggle {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 0;
    margin-bottom: 5px;
}

.num-text {
    margin-left: 5px;
    padding-top: 1px;
}
